.LoginForm {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.LoginForm input {
    margin: 2px;
}

.LoginForm .card-title {
    font-size: larger;
    font-weight: bold;
    padding: 4px;
}