.SignUpForm {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.SignUpForm input {
    margin: 2px;
}

.SignUpForm form {
    margin: auto;
}

.SignUpForm .card-title {
    font-size: larger;
    font-weight: bold;
    padding: 4px;
}